* {
	margin: 0;
	scroll-behavior: smooth;
}

::selection {
	background-color: black;
	color: white; }
section {
	min-height: 60vh;
	padding-bottom: 50px;
	padding-top: 30px;
}
div.top-nav {
	 background-color: #fff;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 position: fixed;
	 width: 100%;
	 border-bottom: 1px solid black;
}
.top-nav h1 {
	color: black;
	padding: 14px 16px;
	font-family: roboto;
}
.top-nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row-reverse;
}
.top-nav ul li {
	padding: 20px 15px;
}
.top-nav ul li a{
	padding: 20px 15px;
	height: 100%;
	color: black;
	text-decoration: none;
}
.top-nav ul li a.active{
	padding: 10px 15px;
	height: 100%;
	color: white;
	background-color: grey;
	text-decoration: none;
}
.top-nav ul li a:hover {
	padding: 10px 15px;
	background-color: grey;
	color: white;
	text-decoration: none;
}
	
.image img {
	width: 100%;
}

.about {
	padding-top: 10px;
	width: 100%;
	display: flex;
}
.about img {
	float: left;
	padding-left: 120px;
}

.about_content{
	display: flex;

}
.about_rooban {
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	padding-left: 10px;
	flex-flow: column wrap;
	}

.about_rooban {
	margin-top: 180px;
	font-size: 17px;
}

.portfolio {
	padding-top: 10px;
	display: flex;
	flex-direction: column;

}
.portfolio h1{
	display: flex;
	align-items: center;
	margin: auto;	
}
.portfolio_img{
	margin-left: 130px;
	margin-right: 50px;
	display: flex;
	align-items: center;
	padding-top: 100px;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: row wrap;
}
.portfolio_img img{
	padding-top: 10px;
	height: 300px;
	width: 300px;
}
.contact {
	display: flex;
	flex-direction: column;
	padding-left: 120px;
	font-size: 17px;
}
.contact form{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
